table{
    border-collapse: collapse;
}
table, td, th{
    border: 1px solid ;
    padding: 2px;
}
.min{
    background-color:green;
}
.max{
    background-color:red;
}
#u0_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u0 {
    border-width:0px;
    position:absolute;
    left:122px;
    top:90px;
    width:258px;
    height:22px;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u0_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    white-space:nowrap;
}
#u1 {
    border-width:0px;
    position:absolute;
    left:390px;
    top:82px;
    width:161px;
    height:38px;
}
#u1_input {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:38px;
    font-family:'Arial Обычный', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    text-decoration:none;
    color:#000000;
}
#u1_input:disabled {
    color:grayText;
}
#u2_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u2 {
    border-width:0px;
    position:absolute;
    left:561px;
    top:90px;
    width:21px;
    height:22px;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u2_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    white-space:nowrap;
}
#u3 {
    border-width:0px;
    position:absolute;
    left:592px;
    top:82px;
    width:69px;
    height:38px;
}
#u3_input {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:38px;
    font-family:'Arial Обычный', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}
#u4_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u4 {
    border-width:0px;
    position:absolute;
    left:671px;
    top:90px;
    width:23px;
    height:22px;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u4_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    white-space:nowrap;
}
#u5 {
    border-width:0px;
    position:absolute;
    left:704px;
    top:82px;
    width:69px;
    height:38px;
}
#u5_input {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:38px;
    font-family:'Arial Обычный', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}
#u6_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u6 {
    border-width:0px;
    position:absolute;
    left:783px;
    top:90px;
    width:176px;
    height:22px;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u6_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:176px;
    white-space:nowrap;
}
#u7 {
    border-width:0px;
    position:absolute;
    left:969px;
    top:82px;
    width:88px;
    height:38px;
}
#u7_input {
    position:absolute;
    left:0px;
    top:0px;
    width:88px;
    height:38px;
    font-family:'Arial Обычный', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    text-decoration:none;
    color:#000000;
}
#u7_input:disabled {
    color:grayText;
}
#u8_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:22px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u8 {
    border-width:0px;
    position:absolute;
    left:1128px;
    top:90px;
    width:50px;
    height:22px;
    font-family:'Arial Полужирный', 'Arial';
    font-weight:700;
    font-style:normal;
}
#u8_text {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    white-space:nowrap;
}
#u9 {
    border-width:0px;
    position:absolute;
    left:1075px;
    top:82px;
    width:45px;
    height:38px;
}
#u9_input {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:38px;
    font-family:'Arial Обычный', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:16px;
    text-decoration:none;
    color:#000000;
    text-align:left;
}
#u10_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:40px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:5px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u10 {
    border-width:0px;
    position:absolute;
    left:1188px;
    top:80px;
    width:140px;
    height:40px;
}
#u10_text {
    border-width:0px;
    position:absolute;
    left:2px;
    top:12px;
    width:136px;
    word-wrap:break-word;
}
#u11_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1206px;
    height:358px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
}
#u11 {
    border-width:0px;
    position:absolute;
    left:122px;
    top:159px;
    width:1206px;
    height:358px;
    font-size:20px;
}
.ax_default {
    font-family:'Arial Обычный', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    color:#333333;
    text-align:center;
    line-height:normal;
}
.heading_3 {
    font-family:'Arial Обычный', 'Arial';
    font-weight:bold;
    font-style:normal;
    font-size:18px;
    text-align:left;
}
.text_field {
    color:#000000;
    text-align:left;
}
.droplist {
    color:#000000;
    text-align:left;
}

html,body,div,span,
applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    
}
select {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
} 